<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DatabaseFSPMI</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/lib/slick/slick.css" />
</head>
<body>
    <nav id="nav" class="navtop">
        <div class="logo">
            <img src="~/img/logofspmi.png" />
        </div>
        <ul>
            <li><a href="#">Data Anggota</a></li>
            <li><a href="#">Berita</a></li>
            <li><a href="#">Visi & Misi</a></li>
        </ul>
    </nav>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FSPMI
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/slick/slick.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
