@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div id="carouselExampleIndicators" class="carousel slide shadow" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/fspmi_sample1.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Rapat Pimpinan FSPMI tahun 2020</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/fspmi_sample2.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Buruh Tolak Kenaikan BPJS</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/fspmi_sample3.jpg" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Aksi Buruh FSPMI #CabutOmnibusLaw</h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>


<section>
    <div class="py-3 container main-content mt-5">
        <div class="row">
            <div class="col-12">
                <h2>Data Anggota</h2>
                <h5>Data anggota FSPMI Nasional</h5>
                <h6 style="color:#aaaaaa;">Update Terakhir: Sabtu, 09 September 2021</h6>
            </div>
        </div>
        <div class="row mt-3 autoplay">

            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Aceh</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Sumatra Utara</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Aceh</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Aceh</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Aceh</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Aceh</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Pria</label>
                                <h6>1.200</h6>
                            </div>
                            <div class="col-sm-6">
                                <label>Wanita</label>
                                <h6>720</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="py-3 container main-content mt-5">
        <div class="row">
            <div class="col-12">
                <h2>Promosi dan Berita Terbaru</h2>
                <h6 style="color:#aaaaaa;">Update Terakhir: Sabtu, 09 September 2021</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</section>


<script>
        $('.autoplay').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
    });
</script>